@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* variables css */
:root {
    --header-height: 3.5rem;

    /* colors */
    /* color mode HSL(hue, saturation, lightness) */
    --title-color: hsl(220, 8%, 10%);
    --text-color: hsl(220, 8%, 40%);
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(220, 8%, 6%);
    --body-color: hsl(220, 8%, 99%);
    --bata-color: hsl(16, 88%, 59%);
    --container-color: hsl(220, 8%, 96%);
    --opacity-color-30: hsla(0, 0%, 90%, .3);
    --opacity-color-20: hsla(0, 0%, 90%, .2);

    /* font and typography */
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: "Montserrat", sans-serif;
    --second-font: "Dancing Script", cursive;
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 500;
}

/* responsive typography */
@media screen and (min-width: 1150px) {
    :root{
        --biggest-font-size: 6rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/* base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}



input,
button,
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}

body, html {
    overflow-x: hidden;
}

input,
button {
    outline: none;
    border: none;
}

h1, h2, h3, h4 {
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* theme */
/* variables dark theme */
.dark-theme{
    --title-color: hsl(220, 8%, 90%);
    --text-color: hsl(220, 8%, 70%);
    --body-color: hsl(220, 8%, 8%);
    --container-color: hsl(220, 8%, 12%);
    --opacity-color-30: hsla(0, 0%, 15%, .3);
    --opacity-color-20: hsla(0, 0%, 15%, .2);
}

/*
    color changes in some parts of the website, indark theme
*/
.dark-theme .bg-header .nav__logo img{
    filter: initial;
}

.dark-theme .bg-header{
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, .4);
}

.dark-theme .scrollup{
    background-color: var(--container-color);
}

.dark-theme .chatbot{
    background-color: var(--bata-color);
}

.dark-theme .search-bar {
  background: var(--black-color);
  border: none;
  box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
}

.dark-theme .search-box input {
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.dark-theme .carousel__card{
    background-color: var(--bata-color);
}

.dark-theme .carousel__name{
    color: var(--white-color);
}

.dark-theme .right-title{
    color: var(--white-color);
}

.dark-theme .right-text{
    color: var(--white-color);
}

.dark-theme .small-story{
    background-color: var(--bata-color);
}

.dark-theme .awesome-content p{
    color: var(--white-color);
}

/* .dark-theme .title2, .desc2, .icon2 i{
    color: var(--white-color);
} */

.dark-theme .swiper-button-prev,
.dark-theme .swiper-button-next {
  color: #000 !important;
  fill: #000 !important;
}

.dark-theme .tranding-slider-control i {
  color: #fff !important;
}

/* PAGINATION - default bullet */
.dark-theme .swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5;
}

/* PAGINATION - active bullet */
.dark-theme .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}


.dark-theme .search-box input::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

.dark-theme::-webkit-scrollbar{
    background-color: hsla(220, 6%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb{
    background-color: hsla(220, 6%, 40%);
}
/* reusable css classes */
.container{
    /* max-width: 1120px; */
    max-width: 90%;
    margin-inline: 1.5rem;
}



/* header & nav */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
}


.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--white-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__logo img{
    transition: filter .4s;
}

.nav__toggle,
.nav__close,
.nav__theme{
    display: inline-flex;
    font-size: 1.5rem;
    color: var(--white-color);
    cursor: pointer;
    transition: color .4s;
}

.nav__buttons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

/* navigation for mobile devices */
@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top: -120%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        padding-block:4rem;
        box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: top .4s;
    }
}

.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav__link{
    position: relative;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.nav__link::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .4s;
}

.nav__link:hover::after{
    width: 60%;
}

.nav__close{
    color: var(--title-color);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}


/* show menu */
.show-menu{
    top: 0;
}

/* change background header */
.bg-header{
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
}

.bg-header :is(.nav__logo, .nav__toggle, .nav__theme){
    color: var(--title-color);
}

.bg-header .nav__logo img{
    filter: invert(100%);

}

/* active link */
.active-link::after{
    width: 60%;
}

/* HERO SECTION */
.hero-section {
    position: relative;
    width: 100%;
    height: 90vh; /* bisa ubah sesuai selera */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Layer gelap */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35); /* efek gelap seperti contoh */
    backdrop-filter: blur(1px);
}

/* Teks di tengah */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: lowercase;
}

.hero-desc {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-top: .5rem;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .hero-section {
        height: 45vh;
    }
    .hero-title {
        font-size: 2rem;
    }
    .hero-desc {
        font-size: .9rem;
    }
}


.content-section {
    width: 100%;
    padding: 5rem 0;
}

.desc-head{
    width: 85%;
    margin: auto;
    align-items: center;
    margin-bottom: 50px;
}

.desc-head h1{
    margin-bottom: 5px;
    text-align: center;
    color: var(--black-color);
}

/* .desc-head h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translateX(-50%);
    height: 3px;
    width: 200px;
    background: var(--bata-color);
    transition: .3s;
    border-radius: 2vw;
} */

.right-underline {
    width: 150px;
    height: 3px;
    background: var(--bata-color);
    text-align: center;
    margin: 2px auto 15px;
}

/*
.desc-head h1:hover::after {
    width: 300px;
} */

.desc-head p{
    text-align: center;
    color: var(--black-color);
}

.content-wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 50px;
    gap: 4rem;
}

.right-underline2 {
    width: 3px;
    background: var(--bata-color);
    height: auto; /* biar mengikuti flex item */
}

/* LEFT */
.content-left {
    width: 50%;

}

.content-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--bata-color);
}

.content-info p {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    margin-bottom: .5rem;
    opacity: .9;
    color: var(--black-color);
    text-align: justify;
}

.content-desc {
    margin-top: 1rem;
    line-height: 1.6;
    opacity: .85;
}

.content-right {
    width: 50%;
    display: flex;
    justify-content: center;
}

.content-right img {
    width: 100%;
    height: 250px;
    border-radius: 30px; /* CAPSULE SHAPE */
    object-fit: cover;
}

/* RESPONSIVE */
/* @media(max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .content-left, .content-right {
        width: 100%;
    }

    .content-right img {
        border-radius: 30px;
    }
} */

/* Small devices / mobile */
@media screen and (max-width: 768px) {
    .content-wrapper {
        display: flex;
        flex-direction: column; /* stack atas-bawah */
        align-items: center;    /* center content */
        gap: 1.5rem;
    }

    .desc-head h1 {
        font-size: 1.8rem;
    }

    .content-left {
        width: 100%;
        order: 2; /* teks dibawah */
    }

    .content-right {
        width: 100%;
        order: 1; /* gambar di atas */
        display: flex;
        justify-content: center;
    }

    .right-underline2 {
        display: none; /* hilangkan garis vertikal di mobile */
    }

    .content-title {
        text-align: center; /* judul di tengah */
        font-size: 1.5rem;
    }

    .content-info p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .content-right img {
        width: 100%;
        height: auto;      /* menjaga rasio */
        border-radius: 20px;
        object-fit: cover;
    }

    .desc-head {
        width: 95%;
    }
}

/* Extra small / very small mobile */
@media screen and (max-width: 480px) {
    .desc-head{
        width: 100%;
        max-width: 90%;
    }
    .desc-head h1 {
        font-size: 1.5rem;
    }
    .desc-head p{
        text-align: justify;
    }

    .content-title {
        font-size: 1.3rem;
    }

    .content-info p {
        font-size: 0.85rem;
    }

    .content-right img {
        height: 150px;
        border-radius: 20px;
    }

    .content-wrapper {
        gap: 1rem;
    }
}

/* ====== LAYOUT WRAPPER ====== */
.layout-wrapper {
    background: var(--bata-color);
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;
    align-items: start;
    padding: 2rem;
}

/* LEFT SIDE */
.left-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
}


.left-info h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 10px;
}

.left-info p {
    font-size: 1rem;
    opacity: 0.8;
    color: var(--black-color);
}

.right-gallery {
    width: 100%;
}


.gallery {
    width: 100%;
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.gcard {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 0.8rem;
    overflow: hidden;
    background: #000;
}
.gcard p{
    color: #fff;
}

.gcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
}

.gcard:hover img {
    transform: scale(1.07);
    filter: brightness(0.8);
}

/* INFO BOX */
.ginfo {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(3px);
    color: #fff;
}

.ginfo h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.ginfo p {
    margin-top: 0.3rem;
    font-size: 0.85rem;
    opacity: 0.8;
}

/* RESPONSIVE: tablet / mobile */
@media screen and (max-width: 900px) {
    .layout-wrapper {
        grid-template-columns: 1fr; /* kiri dan kanan stack */
        gap: 1rem;
        padding: 1rem;
    }

    .left-info {
        display: flex;
        flex-direction: column;
        justify-content: center;   /* vertikal */
        align-items: center;       /* horizontal (tengah) */
        text-align: center;        /* teks juga center */
        margin: 0 0 1rem 0;
        padding: 0 10px;
    }

    .right-gallery {
        width: 100%;
        overflow-x: auto; /* scroll horizontal */

        /* sembunyikan scrollbar */
        -ms-overflow-style: none;  /* IE & Edge */
        scrollbar-width: none;     /* Firefox */
    }

    .right-gallery::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    .gallery {
        display: flex; /* flex horizontal */
        gap: 0.8rem;
        width: max-content; /* biar scrollable */
    }

    .gcard {
        flex: 0 0 200px; /* lebar tiap card */
        height: 200px; /* tinggi card lebih kecil */
    }
}

/* Extra small / mobile kecil */
@media screen and (max-width: 480px) {
    .left-info{
        margin: 0;
    }
    .left-info h1 {
        font-size: 1.4rem;
    }

    .left-info p {
        font-size: 0.85rem;
    }

    .gcard {
        flex: 0 0 150px; /* card lebih kecil di mobile */
        height: 150px;
    }

    .ginfo h3 {
        font-size: 0.95rem;
    }

    .ginfo p {
        font-size: 0.7rem;
    }
}
/* end */

.wrapper2 {
    margin: 100px auto 50px;
    width: 70%;

}

.wrapper2 img{
    max-width: 320px;
    float: left;
    border: 3px solid var(--bata-color);
    border-radius: 10px;
    margin-right: 15px;
    /* margin-bottom: 500px; */
}

.text-boxx{
    color: #000;
}

.text-boxx h2{
    font-size: 42px;
}

.text-boxx p{
    font-size: 16px;
    text-align: justify;
}
.wrapper3 {
    margin: 5px auto;
    width: 70%;
}

.wrapper3 img{
    max-width: 320px;
    float: right;
    border: 3px solid var(--bata-color);
    border-radius: 10px;
    margin-left: 15px;
}

.text-boxx2{
    color: #000;
}

.text-boxx2 h2{
    font-size: 42px;
}

.text-boxx2 p{
    font-size: 16px;
    text-align: justify;
}

.pembatas{
    width: 90%;
    margin: 5px auto;
    border: none;
    border-top: 4px solid var(--bata-color);
}

.judull h2 {
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    color: var(--black-color);
}
.judull h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 50px;
    background: var(--black-color);
    transition: .3s;
    border-radius: 2vw;
}
.judull h2:hover::after {
    width: 100px;
}


.coontainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
    padding: 50px 50px 80px 50px;
}

.coontainer .carrd{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: var(--bata-color);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.coontainer .carrd:hover{
    height: 400px;
}

.coontainer .carrd .imgBx{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow:hidden;
    transition: 0.5s;
}

.coontainer .carrd:hover .imgBx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.coontainer .carrd .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.coontainer .carrd .coontent{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.coontainer .carrd:hover .coontent{
    top: 130px;
    height: 250px;
}

.coontainer .carrd .coontent h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white-color);
}

.coontainer .carrd .coontent p{
    color: var(--white-color);
}

.coontainer .carrd .coontent a{
    position: relative;
    top: 17px;
    display: inline-black;
    padding: 10px 20px;
    background: var(--black-color);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 100px;
}


/* ===== RESPONSIVE ===== */
@media screen and (max-width: 900px) {
    .wrapper2, .wrapper3 {
        flex-direction: column; /* gambar di atas teks */
        width: 90%;
        margin: 50px auto;
    }

    .wrapper2 img, .wrapper3 img {
        float: none;
        max-width: 100%;
        margin: 0 auto 15px;
        display: block;
        height: auto;
    }

    .text-boxx, .text-boxx2 {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .wrapper2 p, .wrapper3 p {
        font-size: 14px; /* teks lebih kecil di mobile */
    }
}

/* footer */
footer {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bata-color);
    color: #fff;
    padding: 50px 20px;
    position: relative;
    padding-top: 0;
    margin-top: 12vw;
}

.footer-wave-design {
    width: 100%;
    position: absolute;
    left: 0;
    top: -21.7vw;
}

.footer-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.footer-section {
    flex: 1;
    min-width: 150px;
}

.footer-section span {
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    color: #fff;
    font-weight: var(--font-semi-bold);
}

/* LOGO */
.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 0.3rem;
}
.footer__logo-img {
    height: 60px;
    object-fit: contain;
}
.footer__logo span {
    margin-top: .3rem;
    line-height: 1.2;
}

/* TITLE */
.footer-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    color: #fff;
}
.footer-section h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 50px;
    background: #fff;
    transition: .3s;
    border-radius: 2vw;
}
.footer-section h2:hover::after {
    width: 100px;
}

/* LINKS */
.footer-section ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li a {
    color: #FDF0EB;
    text-decoration: none;
    position: relative;
    transition: .3s;
}
.footer-section ul li a:hover {
    margin-left: 1vw;
    letter-spacing: .2vw;
    color: #fff;
}

/* MAP MASK EFFECT */
.map-mask {
    width: 180px;
    height: 180px;
    cursor: pointer;
    mask-image: url("/assets/images/mask_bulat3.png");
    -webkit-mask-image: url("/assets/images/mask_bulat3.png");
    mask-size: cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    overflow: hidden;
}
.map-mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SOCIAL */
.footer-bottom {
    text-align: center;
    padding-top: 2vw;
    font-size: 13px;
}
.footer-bottom p {
    color: #fff;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 1vw;
}
.social-icons a {
    color: #fff;
    font-size: 20px;
    transition: .5s;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons a:hover {
    background: #f48861;
    transform: scale(1);
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.brand-name a {
    color: #fff;
}
.brand-name a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer-section h2::after {
        display: none;
    }
}


/* .footer{
    background-color: var(--black-color);
    padding-block: 4rem 2rem;
}


.footer__container{
    row-gap: 3rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  justify-self: flex-start;
  color: var(--white-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
}

.footer__logo-img {
  height: 60px;
  width: auto;
  object-fit: contain;
  margin: 0;
  display: block;
}


.footer__content{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
}

.footer__title{
    color: var(--white-color);
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footer__links{
    display: grid;
    row-gap: .75rem;
}

.footer__link{
    color: var(--white-color);
}

.footer__social{
    display: flex;
    column-gap: 1rem;
}

.footer__social-link{
    color: var(--white-color);
    font-size: 1.5rem;
    transition: transform .4s;
}

.footer__social-link:hover{
    transform: translateY(-.25rem);
}

.footer__copy{
    display: block;
    margin-top: 6rem;
    color: var(--white-color);
    text-align: center;
    font-size: var(--small-font-size);
} */

/* scroll bar */
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsla(220, 6%, 80%);
}

::-webkit-scrollbar-thumb{
    background-color: hsla(220, 6%, 60%);
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsla(220, 6%, 50%);
}



/* scroll */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
    color: var(--title-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover{
    transform: translateY(-.5rem);
}

.show-scroll{
    bottom: 3rem;
}
/* Tombol Chatbot (Telegram) */
.chatbot {
  position: fixed;
  right: calc(1rem + 3.2rem); /* default: sejajar ke kiri dari scrollup */
  bottom: 3rem; /* sejajar dengan scrollup */
  background-color: #0088cc;
  color: white;
  font-size: 1.6rem;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chatbot:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* Responsif untuk layar besar (hindari tumpang tindih) */
@media (min-width: 1024px) {
  .chatbot {
    right: calc(1rem + 4.5rem); /* geser sedikit lebih jauh ke kiri di layar besar */
    bottom: 3rem;
  }
}

/* Responsif untuk layar kecil (mobile/tablet) */
@media (max-width: 768px) {
  .chatbot {
    right: calc(1rem + 2.8rem); /* sedikit lebih rapat di layar kecil */
    bottom: 2.5rem;
  }
}

/* start project section media scrin */
@media(max-width:1024px){
    .con{
        width: 90%;
    }
    .items-link{
        width: 90%;
        gap: 15px;
    }
    .item-link {
        font-size: 15px;
        padding: 8px 20px;
    }
}

@media(max-width:991px){
    .items-link{
        width: 90%;
        justify-content: center;
        gap: 12px;
    }
    .item-link {
        font-size: 15px;
        padding: 8px 20px;
    }
    .budaya{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:600px){
    .items-link{
        justify-content: space-between;
        gap: 0;
    }
    .item-link {
        font-size: 13px;
        padding: 8px 16px;
    }

    .budaya{
        grid-template-columns: 1fr;
    }
    .project-img{
        height: max-content;
    }
}

@media (max-width: 576px) {
  .items-link {
    width: 100%;
    gap: 10px;
  }

  .item-link {
    font-size: 13px;
    padding: 8px 16px;
  }
}

/* breakpoint */
 /* for small devices */
@media screen and (max-width: 480px) {
    .container {
        margin-inline: 1rem;
    }

    .home__title {
        font-size: 2.5rem;
    }

    /* .footer__content {
        grid-template-columns: max-content;
    } */
}

 /* for medium devices */
@media screen and (min-width: 576px){
    .home__container{
        grid-template-columns: 400px;
        justify-content: center
    }
    .home__swiper{
        max-width: 400px;
    }
    .quiz__img{
        width: 400px;
    }
    .quiz__swiper{
        max-width: 400px;
    }
    /* .footer__content{
        grid-template-columns: repeat(3, max-content);
    } */
}

@media screen and (min-width: 768px){
    /* .footer__content{
        grid-template-columns: repeat(4, max-content);
    } */
}

    /* for large device */
@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 2rem;
    }
    .section__title{
        margin-bottom: 4rem;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }
    .nav__toggle, .nav__close{
        display: none;
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
    }
    .nav__link{
        color: var(--white-color);
    }
    .nav__link::after{
        background-color: var(--white-color);
    }
    .bg-header .nav__link{
        color: var(--title-color);
    }
    .bg-header .nav__link::after{
        background-color: var(--title-color);
    }
    .home__container{
        grid-template-columns: 520px 700px;
        align-items: center;
        padding-block: 6rem 9rem;
        gap: 0;
    }
    .home__data{
        text-align: initial;
        transform: translateX(3rem);
        z-index: 5;
    }
    .home__description{
        padding-right: 6rem;
        margin-bottom: 2rem;
    }
    .home__swiper{
        max-width: 730px;
        transform: translateX(-3rem);
    }
    .home .swiper-button-prev, .home .swiper-button-next{
        bottom: 2rem;
    }
    .home .swiper-button-prev{
        right: 4.5rem;
    }
    .home .swiper-button-next{
        right: 2rem;
    }

    /* .footer {
        padding-top: 4.5rem;
    }
    .footer__container {
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
    .footer__logo{
        align-self: flex-start;
    }
    .footer__content{
        column-gap: 4.5rem;
    }
    .footer__title{
        margin-bottom: 1.5rem;
    } */

    .scrollup{
        right: 3rem;
    }
}

/* for 2k resolution */
@media screen and (min-width: 2048px){
    body{
        zoom: 1.4;
    }
}



/* Hilangkan icon SVG bawaan Swiper  */
.swiper-button-next svg,
.swiper-button-prev svg {
  display: none !important;
}
